@charset "utf-8";

body, table, form, input, td, th, p, textarea, select {
  font-family: Verdana,Arial, Helvetica, sans-serif;

}

#main-table {
  min-height: 700px;
  background-image: url(https://git.schantz.com/users/soren/repos/jenkins_theme/browse/bob.jpg?raw) !important;
}
